*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.box{
    box-shadow: 5px 5px 3px 3px rgb(54, 46, 141);
    border: 10px solid red;
    text-align: center;
    border-radius: 20px ;
    background-color: white;
    font-weight: bold;
}

.text{
    text-shadow: 2px 2px 2px purple;
}

.head{
    font-size: 35px;
    width: fit-content;
    padding: 2% 8%;
    margin-top: 2% ;
    
}

hr{
    margin: 8px 0% 0% 0%;
}
.fixed{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 5%;
    right:29.5% ;
    background-color: rgb(64, 230, 64);
    width: 40%;
    color: rgb(202, 25, 25);
    z-index: 1;
    

}
.item1{
    font-size: 22px;
    width: 50%;
    padding: 5%;
    padding-top: 6%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
.item2{
    width: 50%;
    padding: 5%;
    font-size: 18px;
}

.middle{
    border: 10px solid green;
    padding-right: 2%;
    
}
 
.size{
    height: 250px;
    width: 250px;
}

.content1{
    display: flex;
    justify-content: space-between;
    row-gap: 100px;
    column-gap:50% ;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

.box1{
    font-size: 30px;
    line-height: 50px;
    padding: 1%;
    
}

img{
    height: 70%;
    width: 70%;
    margin-top: 15%;
    box-shadow: -2px 2px 2px 2px black;
}
.box3{
    font-size: 28px;
    text-align: left;
}
.box4 p{
    font-size: 28px;
    padding:1%;

}

.box4{
    margin-right: 1%;
}

#rateing{
    width: 100px;
}
#submit{
    background-color: red;
    border-radius: 50px;
}

.menu{
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid purple;
    width: 60%;
    margin-top: 3%;
    row-gap: 10px;
    column-gap: 5px;

}

.heading{
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 3%;
    
}

.list{
    background-color: khaki;
    font-family:Arial,;
    padding: .3%;
}
.list1{
    width:49%;
}
.list2{
    width: 49%;
}
.list3{ 
    width: 100%;
    position: relative;
    bottom: 5px;
    left: 10px;
}

.list p{
    font-size: 25px;
    padding: 3%;
    font-weight: bolder;
}
menu{
    line-height: 150%;
    font-weight: bold;
    padding: 3%;
}
